{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>What is Humanist?</title>
		<link rel="author" href="http://www.princeton.edu/humanist/Willard.McCarty@kcl.ac.uk" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% include 'legacy/base_style.html' %}
		<style type="text/css">
			body {
				background: #fffff0;
			}

			hr {
				width: 100%;
			}
		</style>
		{% include 'legacy/navigation_style.html' %}
	</head>
	<body>
		{% include 'legacy/navigation.html' %}

		<header>
			<h1>Humanist’s editorial intent</h1>
		</header>

		<main>
			<p>
				The best way to understand what Humanist is about, what it is for, is to subscribe and
				participate. Looking through the archives may help. But a few words concerning what it does
				and how it goes about doing that will fill in the gaps.
			</p>

			<p>
				The subjects discussed on Humanist are determined entirely by its membership within the
				broad interdisciplinary scope of computing in the human sciences and, when needed, the
				sciences beyond them. Postings are sent out unaltered except for grouping with others on the
				same topic and the occasional reformatting to improve legibility. Although exchange of
				information relevant to digital practices is a regular feature, the aim is to do scholarly
				research by means of conversation, asking and responding to questions, discussing problems,
				opening them up to new contexts. Perhaps the best description is Nick Sousanis’ provisional
				definition of ‘unflattening’ in his book of that title: “a simultaneous engagement of
				multiple vantage points from which to engender new ways of seeing" (2015: 32).
			</p>

			<p>
				Humanist has a very sparse editorial policy that has remained unchanged since 1987 but is
				spelled out here for the first time to avoid any misunderstandings.
			</p>

			<p>
				For practical reasons born of experience, the Editor, with support of the Editorial Board,
				reserves the right to stop a debate or hold back a posting when in his opinion it is no
				longer sufficiently focused on the primary subject matter of Humanist or is likely to
				provoke unresolvable conflict. When the Editor intervenes in that way, the author or authors
				are consulted immediately, but the Editor's decision is final. It should be noted that such
				holding back has in the history of Humanist been exceedingly rare thanks to the governing
				communal spirit of this seminar.
			</p>

			<p>
				The one other related change since the move of Humanist to its present home in late 2020 is
				appointment of an Editorial Board to guide Humanist’s growth and development and to signify
				the seriousness of its playful intent as a form of scholarly interchange and publication.
			</p>

			<p>Membership of the Editorial Board is as follows:</p>

			<ul>
				<li>Katherine Bode (Australian National University)</li>
				<li>Elisabeth Burr (em. Universität Leipzig)</li>
				<li>Joanna Byszuk (Instytut Języka Polskiego Polskiej Akademii Nauk, Kraków)</li>
				<li>Dino Buzzetti (Fondazione Per Le Scienze Religiose Giovanni XXIII, Bologna)</li>
				<li>Fabio Ciotti (Università degli Studi di Roma “Tor Vergata”)</li>
				<li>Claire Clivaz (Swiss Institute of Bioinformatics)</li>
				<li>Øyvind Eide (Universität zu Köln)</li>
				<li>Crystal Hall (Bowdoin College, Maine)</li>
				<li>Geoffrey Harpham (Duke University, North Carolina)</li>
				<li>David Hoover (New York University)</li>
				<li>Inna Kizhner (Сибирский федеральный университет)</li>
				<li>Jerome McGann (University of Virginia)</li>
				<li>Jan Christoph Meister (em. Universität Hamburg)</li>
				<li>Julia Nantke (Universität Hamburg)</li>
				<li>Tito Orlandi (Università degli Studi di Roma “La Sapienza”)</li>
				<li>Marianne Reboul (École Normale Supérieure de Lyon)</li>
				<li>Glenn Roe (Sorbonne Université; Oxford University)</li>
				<li>Gabriele Šalčiūtė-Čivilienė (King’s College London)</li>
				<li>Manfred Thaller (em. Universität zu Köln)</li>
				<li>Karina van Dalen-Oskam (Huygens Instituut voor Nederlandse Geschiedenis)</li>
			</ul>

			<p>Enquiries are always welcome.</p>

			<p>
				Willard McCarty
				<br />
				Editor
				<br />
				January 2021
			</p>
		</main>

		{% include 'includes/footer.html' %}
	</body>
</html>
