{% load staticfiles %}
<html>
	<head>
		<title>Humanist Discussion Group - Volume {{volume}}</title>
		<link rev="made" href="mailto:Willard.McCarty@kcl.ac.uk">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include 'legacy/base_style.html' %}
		{% include 'legacy/navigation_style.html' %}
	</head>
	<body>
		{% include 'legacy/navigation.html' %}
		<header>
			<a href="quack.html">
				<img src="{% static 'images/humanist.gif' %}" alt="Humanist Discussion Group" />
			</a>
			<h2>Humanist Archives: {{edition.date_sent}} Humanist {{edition.volume}}.{{edition.issue}} - {{edition.subject}}</h2>
		</header>
		<main>
			<pre>
				{% include "includes/outgoing_template.html" %}
			</pre>
		</main>
		{% include 'includes/footer.html' %}
	</body>
</html>
