<nav class="noprint">
	<table class="nav">
		<td>
			<a href="/" title="Humanist Homepage">Home</a>
		</td>
		<td>
			<a href="/announcement.html" title="About">About</a>
		</td>
		<td>
			<a href="/membership_form.php" title="Membership Form">Subscribe</a>
		</td>
		<td>
			<a href="/search.html" title="Search">Search</a>
		</td>
		<td>
			<a href="/Restricted/" title="Member Area">Member Area</a>
		</td>
		<td>
			<a href="https://portal.uni-koeln.de/en/site-notice" title="Legal notice" target="_blank"
				>Legal notice</a
			>
		</td>
	</table>
</nav>
