{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Humanist Discussion Group - Search</title>
	<link re="author" href="mailto:Willard.McCarty@kcl.ac.uk">

	{% include 'legacy/base_style.html' %}
	<style>
		img {
			margin: 1rem;
		}
	</style>
	{% include 'legacy/navigation_style.html' %}
</head>
<body>
	{% include 'legacy/navigation.html' %}

	<a href="quack.html">
		<img src="{% static 'images/humanist.gif' %}" alt="Humanist Discussion Group">
	</a>

	<h1>Humanist Archives: Search</h1>

	<p>You can use this form to search the Humanist Archives. Please note that search results may be in differing formats, due to the varying mailing list software used throughout the years. Due to many of these results being text/html files, we do not display result snippets here.</p>

	<form action="" method="get">
	  <strong>Query:</strong>
	  <input type="text" name="q" size="80" {% if q %} value="{{q}}" {% endif %}  />
	  <input type="submit" value="Search" />
	</form>

	{% if q %}

	<h3>Search Results for: {{q}} ({{ results_count }} found)</h3>

	{% if results.object_list %}

		{% if results.has_previous %}
		  <a href="/search.html?q={{q}}">First</a>
		  <a href="/search.html?q={{q}}&page={{results.previous_page_number}}">
		  	Previous
		  </a>
		{% endif %}

	  Page {{ results.number}} of {{page_count }}

	  {% if results.has_next %}
		  <a href="/search.html?q={{q}}&page={{results.next_page_number}}">Next</a>
		  <a href="/search.html?q={{q}}&page={{page_count}}">Last</a>
	  {% endif %}

		<ul>
	    {% for result in results.object_list %}
	    	<li><a href="{{ result.url }}">{{ result.title }}</a></li>
	    {% endfor%}
		</ul>

		{% if results.has_previous %}
		  <a href="/search.html?q={{q}}">First</a>
		  <a href="/search.html?q={{q}}&page={{results.previous_page_number}}">
		  	Previous
		  </a>
		{% endif %}

		Page {{ results.number}} of {{page_count }}

		{% if results.has_next %}
	    <a href="/search.html?q={{q}}&page={{results.next_page_number}}">Next</a>
	    <a href="/search.html?q={{q}}&page={{page_count}}">Last</a>
		{% endif %}

		{% else %}
			<b>No results found.</b>
		{% endif %}

	{% endif %}

	<p>
		<strong>Editor</strong>: <a href="http://www.mccarty.org.uk">Willard McCarty (King’s College London, U.K.)</a>
		<br>
		<b>Designed and developed at</b>: <a href="https://github.com/DH-Cologne/humanist-django">DH-Cologne</a>
	</p>

	<p>
		This site is <a href="https://github.com/DH-Cologne/humanist-django">maintained</a> by the <a href="https://dh.phil-fak.uni-koeln.de/en/">Department of Digital Humanities</a>.
	</p>

</body>
</html>

