<style>
	.privacy-policy {
		max-width: 140ch;
		font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.9rem;
		color: #333;
	}

	.privacy-policy hr {
		width: 100%;
    border-width: 0.01rem;
    border-style: solid;
    border-color: #333;
    margin-top: 3rem;
	}
</style>
<div class="privacy-policy">
	<hr>

	<h3>Privacy Policy</h3>

	<p>
		We take the protection of your personal data very seriously. We want you to know when we store which data and how we use it when you visit miskatonic.hki.uni-koeln.de / dhhumanist.org. Personal data are collected on this server only to the necessary extent. Under no circumstances will the data collected be sold or passed on to third parties for any reason. The following statement in accordance with Chapter 13 of the General Data Protection Regulation (GDPR) gives you an overview of how we guarantee this protection and what kinds of data are collected for what purposes.
	</p>

	<h3>Your rights</h3>

	<p>
		Every person affected by the processing of personal data has the right, in accordance with the legal provisions, to request free information or confirmation from us regarding the personal data stored about him or her.
		In addition, you have the right to the immediate correction or deletion of incorrect personal data concerning you, or to the restriction of the processing, or to object to the processing. (However, the collection of data for the provision of the website and the storage of data in log files is necessary for the operation of the website. Consequently, there is no possibility of objection in this respect.).
		You can revoke your consent to the processing of personal data at any time. This does not affect the legality of the Website’s processing of your data on the basis of your consent until your revocation. Data subjects have the right to request information regarding their personal data in a structured, common and machine-readable format and to transmit it to other persons responsible.
		We are happy to answer your questions regarding the processing of your personal data at any time. If you would like to know which personal data we store about you or your pseudonym, or if you have questions that this data protection statement could not answer, or if you would like more detailed information on a particular point, please contact us.
	</p>
</div>
