{% load staticfiles %}
<html>
	<head>
		<title>Attachment Does Not Exist - Humanist Discussion Group</title>
		<link rev="made" href="mailto:Willard.McCarty@kcl.ac.uk" />
	</head>
	<body background="{% static 'images/strip.gif' %}">
		<center>
			<table border cellpadding="5">
				<td align="center">
					<a href="/" border="off"><b>Home</b></a>
				</td>
				<td align="center">
					<a href="/announcement.html" border="off"><b>About</b></a>
				</td>
				<td align="center">
					<a href="/membership_form.php"><b>Subscribe</b></a>
				</td>
				<td align="center">
					<a href="/search.html"><b>Search</b></a>
				</td>
				<td align="center">
					<a href="/Restricted/"><b>Member Area</b></a>
				</td>
			</table>
		</center>
		<br />

		<center>
			<a href="quack.html"
				><img
					src="{% static 'images/humanist.gif' %}"
					alt="Humanist Discussion Group"
					border="off"
			/></a>

			<p><strong>Sorry, but that attachment no longer exists.</strong></p>
		</center>
	</body>
</html>
